/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    color: var(--font-color);
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  STYLE CHATBOT */
.chatbot {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 0 128px rgba(0,0,0,0.1) 0 32px 64px -48px rgba(0,0,0,0.5);
    pointer-events: none;
    transform: scale(0.5);
    opacity: 0;
    transition: all 0.1s ease;
    transform-origin: bottom right;
}

.show-chatbot .chatbot {
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
}

.chatbot header {
    background: #724ae8;
    padding: 16px 0;
    text-align: center;
    position: relative;
}

.chatbot header h2 {
    color: #fff;
    font-size: 1.4rem;
}

.chatbot header span {
    position: absolute;
    right: 20px;
    top: 50%;
    color: #fff;
    cursor: pointer;
    transform: translateY(-50%);
    display: none;
}

.chatbot .chatbox {
    height: 410px;
    overflow-y: auto;
    padding: 30px 20px 100px;
}

.chatbox .chat {
    display: flex;
}

.chatbox .incoming span {
    height: 32px;
    width: 32px;
    color: #fff;
    background: #724ae8;
    text-align: center;
    line-height: 32px;
    border-radius: 4px;
    margin: 0 10px 7px 0;
    align-self: flex-end;
}

.chatbox .outgoing {
    margin: 20px 0;
    justify-content: flex-end;
}

.chatbox .chat p {
    color: #fff;
    max-width: 75%;
    padding: 12px 16px;
    border-radius: 10px 10px 0 10px;
    background: #724ae8;
    font-size: 0.95rem;
    white-space: pre-wrap;
}

.chatbox .incoming p {
    color: #000;
    background: #f2f2f2;
    border-radius: 10px 10px 10px 0;
}

.chatbox .chat-input {
    position: absolute;
    bottom: 0;
    border-top: 1px solid #ccc;
    width: 100%;
    background: #fff;
    padding: 5px 20px;
    display: flex;
    gap: 5px;
}

.chat-input textarea {
    border: none;
    outline: none;
    font-size: 0.95rem;
    resize: none;
    padding: 16px 15px 16px 0;
    height: 55px;
    width: 100%;
}

.chat-input span {
    color: #724ae8;
    font-size: 1.35rem;
    cursor: pointer;
    align-self: flex-end;
    height: 55px;
    line-height: 55px;
    visibility: hidden;
}

.chat-input textarea:valid ~ span {
    visibility: visible;
}

.chatbot-toggler {
    position: fixed;
    right: 40px;
    bottom: 35px;
    height: 50px;
    width: 50px;
    background: #724ae8;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
}

.show-chatbot .chatbot-toggler {
    transform: rotate(90deg);
}

.chatbot-toggler span {
    position: absolute;
}

.show-chatbot .chatbot-toggler span:last-child, .show-chatbot .chatbot-toggler span:first-child  {
    opacity: 0;
}

.chatbot-toggler span:last-child {
    opacity: 0;
}

.show-chatbot .chatbot-toggler span:last-child {
    opacity: 1;
}

.chatbot header span {
    display: block;
}

.chatbot .chatbox {
    height: 90%;
}

.error-message {
    color: red;
}

#fileInput {
    margin: 10px 0;
    padding: 8px;
}

@media (min-width: 768px) and (min-width: 992px)  {
    .chatbot {
        position: fixed;
        left: 30%;
        width: 600px;
        border-radius: 15px;
        padding-top: 10px;
    }

    .chatbot header span {
        display: none;
    }
}